* {
  margin: 0;
  padding: 0;
}

li {
  /*liタグのの点マークを消す*/
  list-style: none;
}

header {
  height: 65px;
  /*下線*/
  border-bottom: 1px solid #dddddd;
}

.header-left {
  float: left;
  /*"border領域"の内側の余白を設定する*/
  padding: 10px 60px;
  color: #ED7000;
  font-size: 30px;
}

.header-right {
  float: right;
  color: #808080;
}

.header-right li {
  float: left;
  /*"border領域"の内側の余白を設定する*/
  padding: 20px 30px;
  border-left: 1px solid #dddddd;
}

.selected {
color: #ED7000;
}

.main {
  /*要素の最小幅を設定します*/
  min-width: 800px;
}

.contact-form {
  width: 70%;
  /*外側の余白を設定*/
  margin: 60px auto;
  padding: 50px;
  background-color: #F5F5F5;
  color: #333;
}

.form-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}

.form-item {
  /*内側の余白を設定*/
  padding: 20px 0 10px 0;
  /*フォントの太さ (あるいは重み) を指定*/
  font-weight: bold;
}

input[type="text"]{
  width: 30%;
  border: 1px solid #ccc;
  /*枠の角を丸くする*/
  border-radius: 4px;
  padding: 6px 12px;
  /*要素のフレームの周囲に影を入れる*/
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s, box-shadow ease-out .15s;
  font-size: 14px;
  /*テキストの行間を設定*/
  line-height: 1.428571429;
  color: #555;
}

input[type="submit"] {
  margin-top: 30px;
  width: 30%;
  border: 1px solid #5cb85c;
  border-radius: 4px;
  padding: 12px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  font-size: 14px;
  line-height: 1.428571429;
  color: white;
  background-color: #5cb85c;
}

textarea {
  width: 90%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
}

footer {
  height: 200px;
  clear: left;
  border-top: 1px solid #dddddd;
}

.footer-left {
  float: left;
  width: 200px;
  padding: 30px 100px;
}

.footer-left li {
  margin-bottom: 5px;
  color: #808080;
  border-bottom: 1px dotted #808080;
}