@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------------Header-------------------*/
.heading {
  font-size: 50px;
  text-align: center;
  font-family: 'Caveat', cursive;
  border-bottom: 1px solid gray;
}

.nav-list {
  font-family: 'Caveat', cursive;
  font-size: 20px;
  position: absolute;
  top: 30px;
  right: 120px;
}

.nav-list li {
  list-style: none;
  display: inline-block;
}

/*-----------------Main-------------------*/
.main-title {
  font-size: 20px;
  
}

/*-----------------Footer-------------------*/
footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

/*------------------------------------------*/
/*----------ハンバーガーアイコン------------*/
/*------------------------------------------*/

/*id属性→#セレクタを使う*/
#hm-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}

.menu-trigger,.menu-trigger span{
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 30px;
  height: 14px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}

.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(0px) rotate(-45deg);
  background-color: #fff;
}

.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
  background-color: #fff;
}

/*------------------------------*/
/*----------spメニュー----------*/
/*------------------------------*/
#sp-menu {
  font-family: 'Caveat', cursive;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}

h2 {
  margin: 20px;
}

#sp-menu ul {
  margin-left: 100px;
}

#sp-menu li {
  margin-bottom: 10px;
  text-align: left;
  font-size: 60px;
  list-style: none;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}